<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=750" initial-scale="1">
    <script src="../lib/vue-2.3.3.js"></script>
    <script src="../lib/jquery.min-1.12.4.js"></script>
    <script src="../lib/jquery.easing.min-1.3.js"></script>
    <script src="../lib/jquery.mobile-events.min-1.0.8.js"></script>
    <script src="../lib/jquery.cookie.js"></script>
    <link rel="stylesheet" href="../plugin/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../plugin/animate-css-3.5.2/animate-3.5.2.css">
    <link rel="stylesheet" href="../css/all.css">
    <title>LINE抽獎活動</title>
  </head>
  <body>
    <div class="site" id="page" style="background-color:#faffdf; background-image:url('img/mask_filter.png');">
      <div class="main-content">

        <!--抽獎主圖-->
        <div class="game-start"><img src="img/main.gif" @click="roll()">
          <div class="count">您的抽獎剩餘次數為：<span class="num" style="color:#ff0000">{{game_count}}</span>次</div>
        </div>
        <!--抽獎主圖 end-->


        <!--抽獎中-->
        <div class="lightbox rolling" v-if="lightbox_name === 'rolling'">
          <div class="inner">
            <div class="board"><img class="animated shake infinite" src="img/chest_close.png">
              <div class="tip">...寶箱開啟中...</div>
            </div>
          </div>
        </div>
        <!--抽獎中 end-->



        <!--抽獎結束圖-->
        <div class="lightbox done" v-if="lightbox_name === 'done'">
          <div class="inner">
            <div class="board"><img class="animated pulse infinite" src="img/chest_open.png">
              <div class="result">
                <div class="item" v-if="roll_result === 1">
                  <div class="title">恭喜你配對到小珍</div>
                    <a href="https://lh3.googleusercontent.com/Tv-HBprcCJPLto7BmILffC7mRoWTVQJhpMO-vR5qbg1STIa0eI7dvLOi0eZNuU0jM7QF5low-OKc8EM5vJ9x9OUAigiOiQ-gh3nAn1NEgBAecl6JK9AGjzCbVrNfcSbqb7SP0J0Xb8E7OJ1CSJv4ubnB7IApXfhtgMP9ou04qkvK1rwS-YD7GvWOSlSoO1-eY_Y6LwuMgj3J3JPincNLDMyYgoJ226pZXz9C_13BHbG4Wp2Vclwps31mIqsYS2NbBDJyORDuphzAwbmJKT2yQrHSvd7v5J6ZXhlWG-f_iJgw9q3plJttVYNFbNVWOzWcRHUSPRIRV-rnQ1Uv69cIAEmLWPqAJ7pS01zzdzMbztx6VsnePvxSqeX8FRLal_O62Xic40EvKlvlHMoy0Lx8zdcXqjzdILXy1lRrF1WH-eTYR0afRz9sDb-o-aFNKZ0XFWb4nr7KaFo8b__IOVl71GDSJO44uI_FF9rawyMdUVBNKNp0720UoEYo_8-5F6jIqdYp6snfaUI0A6lfJkqLiABZT_bfJI4hRfTrUu2s-k03xPWYHpshi7_kJMtJb8dRYx1-LQhhyreqR794JVk9tXJiS2LW6U5-xkY6kb38=w359-h637-no"><div class="btn">點擊查看她的ID</div></a>
                </div>
                <div class="item" v-if="roll_result === 2">
                  <div class="title">恭喜你配對到小乃</div>
                  <a href="https://lh3.googleusercontent.com/1ByYpne11LLGIWpMtFWsmJAugLn6dbDKAJuXmrTe06g0KZmGTqUN87V5T-8Zs-M1zeFEOo5nWu6zi_yL9igzZx19QQMVADJlPmH0E5UOL2uFvSRpP1jEeXlqtbhzk-7491ob9gCK8TdjBjh9lrdm_Tm_C4CoazUVc70P70BaMKasSsKrIySJG5AKS716aOokp3cuKlTQoxB-O_qPhIznIfuo8aDImyn0cfa4SgBTuYYBDGoBPd1Mq_yr5JQhJKBWf4vAiy1j44qK7JCYh-icHm9pDG6DUnHwhwhZA9b2pkksOBPiiCs13VCFSDegKKZgT9xPoDW7GIgMca9X9LnaMeiakc5JA3Cu78Wcn4LQ-ZGJmMlQrqMte0KJN89QXXB6022DgRL20908zsqIs4HYcCjnkxCRZQk9qpYmLhgZI7szGsJOauMW4om4h0F6cFhqcSmVZVzdkNw6XQCb_PhvuKvPFGzMeHrtgQcjPWgQaIBOrJTSkw9FiK0Neyx1dYntCua3SAwSIRmZdc31yxfGQ_WFaGYT2jDZAlCFRe4Qqf5Xc4lnW8GZLltIYrTdCpLnJ-NV7hyVdfq6P_RccnDvUjJGF8tUBp_WT9k6ptAm=w359-h637-no"><div class="btn">點擊查看她的ID</div></a>
                </div>
                <div class="item" v-if="roll_result === 3">
                  <div class="title">恭喜你配對到涔涔</div>
                  <a href="https://lh3.googleusercontent.com/hrWWj2C5JKP-PfHw7Fd7IlCEZdgFmgoJ9nPNwF4Jk8-e5d39nrGRA74PHyAEKAkYmwBmin7oqNkAGHfiE0ggyQGtpha5lvLFhgb1fxDGb0BGtkijCv98seEfYodvIKkdHuJWN64ddpMDJ-YxSwpkwnl-U3zJdNpdVGMcBP8IUjBHwz9QxFnCQ6-O27kMJ2Q_iDSbJNXlmIt8uroEgJvnhlmDbtRgypXpCPP6eJhmqBcPmSKlBakHZZ9F67dNwPDEYzSf9NdvCLB_Ng_s8DQe9lD7ktv-bI8mjs0SgnsgwoSdBWFeCOJFOmp7debnW7RgFp4-t-J4NWRlZ4dfuZFnqVZHWQJriNahUz1WhVI59AlPU8iabZ_Q3OM9L5-KdKu3_kEXz-BYw95j4MuIip0rYWtIF5RDMq-12UuimJxDqg3_4oa3dwdxxVU89Aoks4lMEX6ju7WnniFPd0D76iLTe_dzxL8o9TL_qCBxMJhUr5WGkVkjbre-qTsFihWoRAGKovq86D9W-hcQdYsjoUjo-q_KZfpCNPz2wchcDWvlRBvkJBdFMi1Yu1wTWF4nWPE8Ab6yoCWWgkklkNOEgl_Dc54Di-jmYoc2yZMeMJR0=w359-h637-no"><div class="btn">點擊查看她的ID</div></a>
                </div>
                  <div class="item" v-if="roll_result === 4">
                  <div class="title">恭喜你配對到JENNY</div>
                    <a href="https://lh3.googleusercontent.com/e9tWMeUrh1_-mnrLo8dMmL1QBuToMcTfau_jYqVISDASDNqFcZS5OnkkhgXioyNk3UF4XOOidW5BSF2VlgvKbStBaaiKON6th0nEHTmAVr8SNlcmRlaqvsbuIvf3GRjrhM1M9EYVV3jCuBodtLiMoowjeBnRLDpqijXZO8WmD8p2d2gawuOBwGbbQXKAdq89nvvI4OFcCzJ8oBGQp0PKKDkV8lsJGyTe66fac-fTz5m4YaPfnXLr9BRhYS45TuiVwbmakcWfJFBB8zgx5Gam1JZhFnE3wquepj673paFHwz7u2twXIXvBZYwqtZoh15jYEdwXJLEcUa3qESKC-W4jzLDa2o9Y3KGVklGUej-hmmLtr4410vluJ5YrKr_lwTKsyrWv0FSxQw48oUc1gqPy1ofWMeI7zr8d9-F-EA26H52gRvEo9z1OhiMiAaowh9jVY4TzPGfxi8YwU9IB_w50wEFJF9EzColtefKMJiiV5ai2gqeRLiQThDtgypBbisTMyrHcVcv8cavcWK5nlUWx0RMZ4BENxhXLBkE4K2TkD8TI-qNean78qkk_g6TXhYISIJ_nl7cWNvpM5Qu5yfAv-hg9aNjrDcFCIOZPu0d=w359-h637-no"><div class="btn">點擊查看她的ID</div></a>
                </div>
                <div class="item" v-if="roll_result === 5">
                  <div class="title">恭喜你配對到ANGEL</div>
                  <a href="https://lh3.googleusercontent.com/igVuE0k0-DsHcTXA4JUajuyKnYNpsYMUDV6hWj_1XzqW8LQnKaV64U0wsASh11oyNk551QjSBwskC5ekkKY1BdE_BoPuV8o-2OMQOahoPEqZNiKRn-vrLixrzAkDWTJGtYo3SwRrmHFpT1QOo4oGm2H9UgDP2jTlBhe_FATInTLxtx0aFM_MArSGBHvHbI8LY_cFwjjRYH1PIZyz00Xg3AdnyEBp9olEMEPQetfQ1GnMhOl35_PwJZRajidP57RxeRX6urRmnqgiw8U29zFakRk_3Z68Ct05GRifjozwse1iS1J89a1NJfKCwTbur0h8x3_lyAYmBWOZh-Qh41hbHwNlVfA62_sDgDyF28Qy96RaPrJ7Sfc3qOa2Vo0wBzYCk-zmLR7w0EAiFjkW5ASOS116VuYaFG11RzF7kRy2uAe5N3s9LqMgtpfU8sSpmwVU24uvJacmnW-3fFtFhZW3SD9-lzGeCYg7Gk5bJVPbHlOrHeLtj9tkCaZsPUKHymulmGAsUkOK0lO3plHDuMSH2jd3sQ4R50JATjuQwC3-dwHrh1IYDaZG5kti9IrCVfy5NRd7teWIrM4brvd2oNixf_XEUdowoa1Gy-2sMCcE=w359-h637-no"><div class="btn">點擊查看她的ID</div></a>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--抽獎結束圖 end-->
        
      </div>
    </div>
    <script>
      function getRandom(minNum, maxNum) { return Math.floor( Math.random() * (maxNum - minNum + 1) ) + minNum; }
      var vm = new Vue({
        el: '#page',
        data: {
          game_count: 0,
          roll_result: 0,
          lightbox_name: null,
        },
        methods: {
          roll: function(){
            if( this.game_count !== 0 ){
              this.lightboxOpen('rolling');
              this.roll_result = getRandom(1, 3);
              setTimeout(function() {
                vm.roll_done();
              }, 1500);
            }
            else{
              alert('幹你這色胚，已經配對過了！請分享5個群組就可以再配對一次!');
            }
          },
          roll_done: function(){
            this.lightboxOpen('done');
            $.cookie("count", 0, { expires: 365, path:'/' });
            this.game_count = $.cookie("count");
          },
          lightboxOpen: function(target){
            this.lightbox_name = target;
            $('body').addClass('popupOpen');
          },
          lightboxClose: function(){
            this.lightbox_name = null;
            $('body').removeClass('popupOpen');
          },
        },
        mounted: function(){
          
           //$.cookie("count", 1, { expires: 365, path:'/' });

          if( $.cookie("count") ===null || $.cookie("count") == 1 ){
            $.cookie("count", 1, { expires: 365, path:'/' });
            this.game_count = 1;
          }
          else{
            var count = $.cookie("count");
            $.cookie("count", 0, { expires: 365 ,path:'/' });
            this.game_count = 0;
          }
        }
      });
    </script>
  </body>
</html>