<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=750" initial-scale="1">
    <script src="../lib/vue-2.3.3.js"></script>
    <script src="../lib/jquery.min-1.12.4.js"></script>
    <script src="../lib/jquery.easing.min-1.3.js"></script>
    <script src="../lib/jquery.mobile-events.min-1.0.8.js"></script>
    <script src="../lib/jquery.cookie.js"></script>
    <link rel="stylesheet" href="../plugin/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../plugin/animate-css-3.5.2/animate-3.5.2.css">
    <link rel="stylesheet" href="../css/all.css">
    <title>LINE抽獎活動</title>
  </head>
  <body>
    <div class="site" id="page" style="background-color:#faffdf; background-image:url('img/mask_filter.png');">
      <div class="main-content">

        <!--抽獎主圖-->
        <div class="game-start"><img src="img/main.jpg" @click="roll()">
          <div class="count">您的抽獎剩餘次數為：<span class="num" style="color:#ff0000">{{game_count}}</span>次</div>
        </div>
        <!--抽獎主圖 end-->


        <!--抽獎中-->
        <div class="lightbox rolling" v-if="lightbox_name === 'rolling'">
          <div class="inner">
            <div class="board"><img class="animated shake infinite" src="img/chest_close.png">
              <div class="tip">...寶箱開啟中...</div>
            </div>
          </div>
        </div>
        <!--抽獎中 end-->



        <!--抽獎結束圖-->
        <div class="lightbox done" v-if="lightbox_name === 'done'">
          <div class="inner">
            <div class="board"><img class="animated pulse infinite" src="img/chest_open.png">
              <div class="result">
                <div class="item" v-if="roll_result === 1">
                  <div class="title">恭喜您取得KFC優惠餐券</div>
                    <a href="https://i.imgur.com/DW0TiaB.jpg"><div class="btn">點擊領取</div></a>
                </div>
                <div class="item" v-if="roll_result === 2">
                  <div class="title">恭喜您取得KFC優惠餐券</div>
                  <a href="https://i.imgur.com/DW0TiaB.jpg"><div class="btn">點擊領取</div></a>
                </div>
                <div class="item" v-if="roll_result === 3">
                  <div class="title">恭喜您取得KFC優惠餐券</div>
                  <a href="https://i.imgur.com/DW0TiaB.jpg"><div class="btn">點擊領取</div></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--抽獎結束圖 end-->
        
      </div>
    </div>
    <script>
      function getRandom(minNum, maxNum) { return Math.floor( Math.random() * (maxNum - minNum + 1) ) + minNum; }
      var vm = new Vue({
        el: '#page',
        data: {
          game_count: 0,
          roll_result: 0,
          lightbox_name: null,
        },
        methods: {
          roll: function(){
            if( this.game_count !== 0 ){
              this.lightboxOpen('rolling');
              this.roll_result = getRandom(1, 3);
              setTimeout(function() {
                vm.roll_done();
              }, 1500);
            }
            else{
              alert('您已經抽過獎了，請期待下次活動！');
            }
          },
          roll_done: function(){
            this.lightboxOpen('done');
            $.cookie("count", 0, { expires: 365, path:'/' });
            this.game_count = $.cookie("count");
          },
          lightboxOpen: function(target){
            this.lightbox_name = target;
            $('body').addClass('popupOpen');
          },
          lightboxClose: function(){
            this.lightbox_name = null;
            $('body').removeClass('popupOpen');
          },
        },
        mounted: function(){
          
           $.cookie("count", 1, { expires: 365, path:'/' });

          if( $.cookie("count") ===null || $.cookie("count") == 1 ){
            $.cookie("count", 1, { expires: 365, path:'/' });
            this.game_count = 1;
          }
          else{
            var count = $.cookie("count");
            $.cookie("count", 0, { expires: 365 ,path:'/' });
            this.game_count = 0;
          }
        }
      });
    </script>
  </body>
</html>